.video {
    background-color: #000000;
    padding-top: 80px;
    padding-bottom: 20px;
    overflow: hidden;
}

/* Extra Small */
@media(max-width:767px) {
    .video {
        padding-top: 65px;
        padding-bottom: 10px;
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}